@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(217, 54%, 11%);
    font-family: "Outfit", sans-serif;
}
.main-div{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 350px;
    height: 600px;
    background-color: hsl(216, 50%, 16%);
    padding: 15px;
    gap: 20px;
}
.img_big{
    width: 100%;
    border-radius: 15px;
}
h3{
    color: white;
    font-size: 25px;
}
.p1{
    color: rgb(141, 171, 216);
    font-size: 18px;
}
.chaild{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(141, 171, 216);
}
.grand_chaild{
    display: flex;
    gap: 8px;
}
.p2{
    color: hsl(178, 100%, 50%);
}
.p3{
    color: rgb(141, 171, 216);
}
.image-avatar{
    width: 40px;
    height: 40px;
}
.chaild2{
    display: flex;
    align-items: center;
    gap: 20px;
}
.p4{
    color: rgb(141, 171, 216);
    font-size: 18px;
}
b{
    color: white;
}