 /* 2) შექმენით საიტი სადაც გექნებათ 5 პარაგრაფი პირველის ფერი იქნება ლურჯი აუცილებლად გამოიყენეთ rgb ფერები, მეორეს ფერი იყოს წითელი, მესამის ფერი იყოს მწვანე, მეოთხეს ფერი იყო თეთრი ხოლო მეხუთეს ფერი იყოს შავი აუცილებლად გამოიყენეთ rgb ფერები */
.p1{
    color: rgb(0, 0, 255);
}
.p2{
    color: rgb(255, 0, 0);
}
.p3{
    color: rgb(0, 255, 0);
}
.p4{
    color: rgb(255, 255, 255);
}
.p5{
    color: rgb(0, 0, 0);
}