/*      1) შექმენით 4 პარაგრაფი პირველი პარაგრაფის ფერი იქნება თეთრი ოღონდ გამოიყენეთ rgb code მეორე პარაგრაფის ფერი იქნება თეთრი ოღონდ გამოიყენეთ hex code ხოლო მესამე პარაგრაფის ფერი იქნება შავი ოღონდ გამოიყენებთ rgb code, მეოთხე პარაგრაფის ფერი იქნება შავი ოღონდ გამოიყენებთ hex code  */

.p1{
    color: rgb(255, 255, 255);
}
.p2{
    color: #ffffff;
}
.p3{
    color: rgb(0, 0, 0);
}
.p4{
    color: #000000;
}