
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #8fd9ed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.p1{
    background-color: white;
    width: 273px;
    height: 400px;
    border-radius: 20px;
}
.p2{
    margin: 20px;
}