h1{
    color: aqua;font-size: 100px;
}

h2{
    color: aquamarine;font-size: 30px;
}

h3{
    color: azure;font-size: 50px;
}

h4{
    color: blue;font-size: 60px;
}

p{
    color: brown;font-size: 70px;
}

button{
    color: blueviolet;font-size: 1px;
}