@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Phetsarath:wght@400;700&family=Playwrite+DE+VA+Guides&family=Playwrite+NL+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    font-family: "Roboto", sans-serif;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h1{
    font-weight: 600;
    font-size: 2.5rem;
}
h1 img{
    width: 40px;
}

header nav ul{
    display: flex;
    flex-direction: row;
    gap: 100px;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: #000;
}