/* 1) შექმენით დაულაგებელი სია რომელსაც წინ ექნება წრეები და იქნება ლურჯი ფერის ტექსტი შეიტანეთ თქვენი 5 ჯგუფელის სახელები და გვარები
2) შექმენით დალაგებული სია რომელსაც წინ ექნება პატარა ფოტოები შეიტანეთ თქვენი მონაცემები ( სახელი გვარი ასაკი ) ცალკ ცალკე */
ul{
    list-style: circle ;
    color: blue;
}

ol{
    list-style: url(o.PNG);
}