/*  1) შექმენით ერთი პარაგრაფი რომელშიც თავდაპირველად ეწერება წინადადება პატარა ასოებით ხოლო შემდეგ css გაადიდებთ, დაამატეთ მეორე პარაგრაფი რომელშიც თავდაპირველად იქნება ტექსტი დიდი ასოებით შემდეგ კი css დააპატარავებთ ხოლო ასევე დაამატეთ მესამე პარაგრაფი სადაც იქნება ნებისმიერი ტექსტი ხოლო შემდეგ css- ით გაზარდეთ სიტყვების პირველი ასოები */
.p1{
    text-transform: uppercase; 
}
.p2{
    text-transform: lowercase;
}
.p3{
    text-transform: capitalize;
}