.p1{
    text-shadow: 1px 1px 4px #afeeee;
}
.p2{
    text-shadow: 1px 1px 4px #ff0000;
}
input{
    text-shadow: 3px 3px 7px #008000;
}
.p4{
    text-shadow: 1px 1px 4px #bc8f8f;
}
.p3{
    text-shadow: 1px 1px 4px #d2b48c;
}
.p5{
    text-shadow: 3px 3px 7px #663399;
}