.div1{
    display: flex;
    background-color: aqua;
    border-radius: 5px;
    width: 300px;
    height: 350px;
    padding: 20px;
    margin: 10px;
    flex-direction: column;
}
button{
    height: 20px;
    width: 105px;
    border-radius: 10px;
}
.div2{
    display: flex;
    background-color: orange;
    border-radius: 5px;
    transform: translateX(600px) translateY(-403px);
    width: 300px;
    height: 350px;
    padding: 20px;
    margin: 10px;
    flex-direction: column;
}
.div3{
    display: flex;
    background-color: blue;
    border-radius: 5px;
    transform: translateX(1150px) translateY(-803px);
    width: 300px;
    height: 350px;
    padding: 20px;
    margin: 10px;
    flex-direction: column;
}
