/*      1)  შექმენით დივი რომელსაც მიანიჭებთ ტექსტის ზომა 500px მასში მოათავსებთ ერთცალ დივს რომელსაც მიანიჭებთ მნიშვნელობად მისი მშობელი დივიდან გამომდინარე პროცენტს ისე რომ გამოვიდეს 125px ხოლო მასში მოათავსეთ პარაგრაფი რომელსაც ექნება მისი მშობელი დივის 50% ტექსტის ზომა  */

.div1{
    background-color: aqua;
    background-size: 500px;
}
.div2{
    background-color: aquamarine;
    font-size: 125px;
}
.div2 p {
    font-size: 50%;
}