
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #000106e2;
    margin: 0;
}

.big {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #484848; 
    padding: 7px; 
    border-radius: 5%;
}
h2{
    color: white;
}

.img2{
    display: inline;
    width: 40px;
    height: 30px;
}
.p{
    display: inline;
    flex-wrap: wrap;
}
.img1{
    width: 300px;
    height: 200px;
    border-radius: 10%;
}
.img3{
    background-color: #3e52a3; 
    display: inline;
}
.img4{
    background-color: #3e52a3; 
    display: inline;
}
.h4{
    display: inline;
}
.h3{
    display: inline;
}
.p9{
    color: #808080;
}