/* level 93:
     1)     შექმენით დივი რომელშიც იქნება მოთავსებული ორი დივი, ამ ორ დივს ექნება სიმაღლე და სიგანე 100Px ასევე მიანიჭეთ სხვადასხვა ბექგრაუნდის ფერები, ჩასვით მათ შორის ერთი ტექსტიც, შემდეგ კი განალაგეთ ეს ყველაფერი ჰორიზონტალურად flex ის გამოყენებით 

  2)  შექმენით მეორე მზგავსი დივი მზგავსი ელემენტებით და განალაგეთ flex ის გამოყენებით ვერტიკალურად

   3)  შექმენით მესამე მზგავსი დივი მზგავსი ელემენტებით და განალაგეთ flex ის გამოყენებით ვერტიკალურად და თან შემოაბრუნეთ 

    4) შექმენით მეოთხე მზგავსი დივი მზგავსი ელემენტებით და განალაგეთ flex ის გამოყენებით ჰორიზონტალურად და თან შემოაბრუნეთ */

.big{
    display: flex;
    align-items: center;
}
.div1{
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    background-color: aqua;
}
.div2{
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    background-color: aquamarine;
}