#p1{
    color: aqua;
    font-size: 10px;
}

#p2{
    color: rgb(9, 255, 0);
    font-size: 5px;
}

#p3{
    color: rgb(0, 8, 255);
    font-size: 5px;
}

#p4{
    color: rgb(255, 0, 187);
    font-size: 5px;
}

#p5{
    color: rgb(234, 0, 255);
    font-size: 5px;
}

#p6{
    color: rgb(0, 255, 47);
    font-size: 5px;
}

#p7{
    color: rgb(234, 255, 0);
    font-size: 5px;
}
